In [2]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.136856  0.989055  1.103071 -0.960574
2013-01-02  0.091877  1.681383  1.235989  1.876433
2013-01-03  1.880456  0.679564 -1.056377 -0.640161
2013-01-04 -0.286676 -0.297205  0.971436 -0.360366
2013-01-05  0.079235 -0.254346 -0.369116  0.309539
2013-01-06 -2.442536  0.544538  1.378133 -0.437350

In [8]:
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head()
df.columns
df.describe()
_

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.090131  0.557165  0.543856 -0.035413
std    1.383401  0.755518  1.006466  1.025957
min   -2.442536 -0.297205 -1.056377 -0.960574
25%   -0.195198 -0.054625 -0.033978 -0.589458
50%    0.085556  0.612051  1.037253 -0.398858
75%    0.125611  0.911682  1.202759  0.142063
max    1.880456  1.681383  1.378133  1.876433

In [20]:
print(df.iat[0,1])
#print(df.at['2013-01-01','A'])
df.index

0.989054837238337

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')